* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.row {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.height-100vh {
  height: 100vh;
}

.text-container {
  height: fit-content;
  width: fit-content;
}

span.true {
  color: rgb(19 199 19);
}

span.false {
  color: red;
}
