p,
ul,
li {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75;
}

h4 {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.row {
  display: flex;
}

.column-half {
  flex-basis: 50%;
}

.li-il {
  display: inline;
  padding: 0 15px 0 0;
}

.lg {
  background-color: #f8f9fa;
}

.dg {
  background-color: #515351;
}

.column-fw {
  flex-basis: 100%;
}

.column-fourth {
  flex-basis: 25%;
}

.wrap {
  flex-wrap: wrap;
}

.jc {
  justify-content: center;
}

.cards {
  padding: ;
  background-color: red;
}

.center-text {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h5,
h6, {
  text-transform: capitalize;
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.tb-padding {
  padding: 50px 0;
}

.tb-padding-small {
  padding: 25px 0;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.vh50 {
  height: 50vh;
}

.vh30 {
  height: 30vh;
}

.vh45 {
  height: 45vh;
}

.vh65 {
  height: 65vh;
}

.col-80 {
  flex-basis: 80%;
}

.uppercase {
  text-transform: uppercase;
}

.testwidth {
  width: 80%;
}

.acc {
  align-content: center;
}

.aic {
  align-items: center;
}

.aifs {
  align-items: flex-start;
}

/* .bg {
  background-color: red;
} */

.btn-get-started {
  background-color: #294463;
  color: white;
  padding: 15px 40px;
  text-transform: capitalize;
  border-style: none;
  border-radius: 5px;
}

.btn-small {
  background-color: #294463;
  color: white;
  padding: 15px 25px;
  text-transform: capitalize;
  border-style: none;
  border-radius: 5px;
}

.border {
  border-top: lightgrey;
  border-width: 1px;
  border-style: solid none none;
}

.white {
  color: white;
}

.asc {
  align-self: center;
}

.logo {
  width: 50%;
}

.vh75 {
  height: 75vh;
}

.vh90 {
  height: 90vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  right: -100px;
  top: 150px;
}

.overlay {
  background-color: rgb(0 0 0 / 25%);
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.hero {
  height: 650px;
  width: 1150px;
}

.h {
  height: 100%;
  width: 100%;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.h > img {
  width: 100%;
}

.border-box {
  box-sizing: border-box;
}

.fit-content {
  height: fit-content;
}

.align-self-center {
  align-self: center;
}

.rl-padding {
  padding: 0 50px;
}

.z-indextop {
  z-index: 10;
}

.darkgrey {
  color: #515351;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

li {
  padding: 10px 0;
}
